<launch>
  <!-- Load the URDF into the ROS Parameter Server and no namespace here as the description will be shared-->
<!--   <param name="robot_description" 
    command="$(find xacro)/xacro -inorder '$(find rrbot_description)/urdf/rrbot1.xacro'" /> -->

  <!-- Begin rrbot1 -->
  <group ns="rrbot1">
    <param name="tf_prefix" value="rrbot1_tf"/>
    <include file="$(find rrbot_control)/launch/single_rrbot.launch">
      <arg name="init_pose" value="-x 1"/>
      <arg name="robot_model" value="rrbot1"/>
      <arg name="robot1"  value ="true"/>
      <arg name="robot2"  value ="false"/>
    </include>
  </group>


  <!-- Begin rrbot2 -->
  <group ns="rrbot2">
    <param name="tf_prefix" value="rrbot2_tf"/>
    <include file="$(find rrbot_control)/launch/single_rrbot.launch">
      <arg name="init_pose" value="-x -1"/>
      <arg name="robot_model" value="rrbot2"/>
      <arg name="robot1"  value ="false"/>
      <arg name="robot2"  value ="true"/>
    </include>
  </group>

</launch>
