<launch>

    <arg name="robot_model"/>
    <arg name="init_pose"/>
    <arg name="robot1"/>
    <arg name="robot2"/>
    
    <group if="$(arg robot1)">
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rrbot_description)/urdf/rrbot1.xacro'" />
    </group>

    <group if="$(arg robot2)">
      <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rrbot_description)/urdf/rrbot2.xacro'" />
    </group>

    <node name="urdf_spawner_rrbots" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="$(arg init_pose) -urdf -param robot_description -model $(arg robot_model)" />
 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

 
    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->

</launch>
